<div>
    <h2>Login</h2>
    <form id="login-form" action="/api/users/login" method="POST">
        <label for="login-username">Username: </label>
        <input id="login-username" type="text">
        <br>
        <label for="login-password">Password: </label>
        <input id="login-password" type="password">
        <input type="submit">
    </form>
    <a href="/register">Sign up instead</a>
</div>

<script src="/js/login.js"></script>