<p id="commentId">{{comment.id}}</p>
<label for="text">Comment Text:</label>
<textarea name="text" id="text" cols="50" rows="10">{{comment.text}}</textarea>
<br>
<button class="update" id="{{comment.id}}">Update</button>

<script src="/js/updateComment.js"></script>