body {
    width: 100%;
    margin: 0;
    height: 100%;
}

h2, h3, h4, h5 {
    margin: 5px;
}

#postId, #commentId {
    font-size: 2px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: black;
    color: white;
}